# ---- Node & TypeScript ----
node_modules/
# compiled JS/TS artifacts
*.js
*.d.ts

# CDK build output
cdk.out/
.cdk.staging/

# Python artifacts
**/__pycache__/
*.py[cod]
.env

# VSCode & IDE
.vscode/
.DS_Store
.idea/

# OS / misc
Thumbs.db